.root{
    -fx-background-color: white;
    /*-fx-opacity:0.9;*/
}
.animated-option-button, #addprofpic{
    -fx-pref-width: 50px;
    /*-fx-background-color: #44b449;*/
    -fx-background-color: transparent;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 50px;
    -fx-border-width: 4px;
}
.animated-option-sub-button2,#addprofpic{
    /*-fx-background-color: rgb(203,104,96);*/
    -fx-background-color: transparent;
}
#addprofpic:hover{
    /*-fx-background-color:#44b449;*/
    -fx-background-color: #4FD2C2;
}
#pane{
    -fx-background-color: white;
    /*-fx-background-color: #55C6E6;*/
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5,0,1,1);
}
#lblfullName, #lblemail, #lblusername, #lblpassword, #lbldob, #lblalreadypass,#lbldob{
    -fx-text-fill:#C1C1C1;
}
#lblsignin{
    -fx-text-fill:#000000;
}
#btncreate{
    -fx-background-color:#4FD2C2;
    -fx-text-fill:white;
}
#controls{
    -fx-background-color: transparent;
}
#controls:hover{
    -fx-background-color:#4FD2C2;
}